@import "~bootstrap/scss/bootstrap"; 
@import "./navigationPages.scss";



body {
  box-sizing: border-box;
}

//Se corrige alineamiento de bootstrap en el form de busqueda
.form-inline{
  display: flex;
  flex-direction: row;
}

#cargando {
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-top: 15em;
  font-weight: bolder;
}

//Se capitalizan titulos de las categorias
.dropdown-item{
  text-transform: capitalize;
}

.zoomIn {
  animation: zoomIn 225ms;
  animation-fill-mode: forwards; /*conserva el estado final*/
  animation-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.container-app {
  height: 150vh;
}

.container-body{
  height: 100%;

}

#products {
  height:  90%;
}

.selected-page{
  background-color: black!important;
  color: white;
  border-radius: .8em;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 


  .card {
    width: 15rem !important;
  }

  .container-search{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Animaciones */

@keyframes zoomIn{
  0%{ 
    transform: scale(0);
 
    opacity: 0;
  }
  40%{ 
    opacity: 0.25;
  }
  100%{ 
    transform: scale(1);
    opacity: 1;
  }
}